[Desktop Entry]
Type=Application
Name=Bienvenue
Comment=Ce que l'on peut faire, tout de suite
Exec=grenos-bienvenue
Icon=user-home
Terminal=false
Categories=System;
