[Desktop Entry]
Type=Application
Name=Mettre à jour grenOS
Comment=Les nouveautés de grenOS et les correctifs de sécurité
Exec=grenos-maj
Icon=grenos-maj
Terminal=false
Categories=System;
