[Desktop Entry]
Type=Application
Name=Connexions
Comment=Wi-Fi et Bluetooth
Exec=grenos-connexions
Icon=grenos-connexions
Terminal=false
Categories=System;Settings;
